<nav class="navbar navbar-light justify-content-between">
	<div class="logo_brand">
		{% load static %}
		<img
			class="navbar-logo"
			src="{% static 'all_images/succulent_logo.png' %}"
			alt="succulent logo"
		/>
		<a class="navbar-brand" href="/">EasyBay</a>
	</div>

	<div class="mini_nav">
		<form class="form-inline mt-1">
			<input
				class="form-control w-100"
				type="search"
				placeholder="Search for anything"
				aria-label="Search"
			/>
			<a href="#"
				><i class="fa fa-search" aria-hidden="true"></i
			></a>
		</form>

		<div>
			{% if user.id == 1 %}				
			<a href="/succulents/plant-form/">Upload plants</a>
			<a href="/succulents/list/">All plants</a>
			{% endif %}

			{% if 'userid' not in request.session.keys %}				
			<a href="/users/sign-in/">Sign In</a>
			{% endif %}

			<a id="shopping_cart" href="/succulents/my-cart/"
				><i
					class="fa fa-2x fa-shopping-cart"
					aria-hidden="true"
				></i
			></a>
		</div>

		<div id="dialog" title="Alert"></div>
	</div>
</nav>
{% if 'userid' in request.session.keys %}
<div class="text-right mb-3">
		
	<img class="nav_profile_picture" src="{{user.profile_picture.url}}" alt="profile picture">
	<span class="mr-3">Welcome, {{user.first_name}}</span>
	<a class="small mr-3" href="/users/{{user.id}}/account">My account</a>
	<a class="small" href="/users/logout/">Log out</a>
</div>
{% endif %}